importFrom("httr", "POST", "GET", "PUT", "accept", "add_headers", "accept_json",
           "authenticate", "content", "content_type", "upload_file")
importFrom("jose", "jwt_split")
importFrom("jsonlite", "fromJSON", "toJSON", "unbox")
importFrom("stats", "na.omit")
importFrom("utils", "URLdecode", "head", "tail")

export(read_dataset)
export(read_database)
export(read_econdata)
export(read_release)
export(write_dataset)
export(write_database)
export(write_econdata)
export(write_release)
export(tidy_data)
S3method(tidy_data,eds_database)
S3method(tidy_data,eds_dataset)
S3method(tidy_data,eds_registry)
S3method(tidy_data,eds_release)
