importFrom("httr", "POST", "GET", "PUT", "accept", "accept_json", "authenticate",
           "content", "content_type", "cookies", "set_cookies", "upload_file")
importFrom("jsonlite", "fromJSON", "toJSON", "unbox")
importFrom("readODS", "write_ods", "read_ods")
importFrom("collapse", "add_vars<-", "ckmatch", "dapply", "fmutate", "fnobs",
           "frename", "get_vars<-", "qDT", "qF", "ss", "unlist2d", "vlabels",
           "vlabels<-")
importFrom("data.table", "dcast", "rbindlist", "setcolorder")
importFrom("utils", "sessionInfo")

export(read_dataset)
export(read_database)
export(read_econdata)
export(read_registry)
export(read_release)
export(write_dataset)
export(write_database)
export(write_econdata)
export(write_registry)
export(write_release)
export(tidy_data)
S3method(tidy_data,eds_database)
S3method(tidy_data,eds_dataset)
S3method(tidy_data,eds_release)
