exportPattern("^[[:alpha:]]+")

S3method(print,edata)
S3method(summary,edata)
S3method("[",edata)
S3method("[<-" ,edata)
S3method(rbind,edata)
S3method(cbind,edata)
S3method(dim,edata)
S3method(nrow,edata)
S3method(ncol,edata)
S3method(names,edata)
S3method("names<-",edata)
S3method(time,edata)
